*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    background-image: url("https://image.freepik.com/free-vector/abstract-neon-lights-background-design_23-2148647098.jpg");
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    font-family: 'Lobster', cursive;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 200px 0px 50px 0px;
    text-align: center;
    font-size: 80px;
    background: -webkit-linear-gradient(#ffffff, #cc00ff, #00f7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header p{
    text-align: center;
    background: -webkit-linear-gradient(#00f7ff, #cc00ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    font-size: 45px;
}

.pads {
    background: lightblue;
    width: 100%;
    display: flex;
}

.pads > div {
    height: 150px;
    width: 100px;
    flex: 1;
}

.pad1 {
    background-image:linear-gradient(120deg, #18FFFF, #007575) ;
}

.pad2 {
    background-image:linear-gradient(120deg,#C6FF00, #556d00);
}

.pad3 {
    background-image:linear-gradient(120deg, #ff1c67, #771938);
}

.pad4 {
    background-image:linear-gradient(120deg, #fffb00, #997500);
}

.pad5 {
    background-image:linear-gradient(120deg, #8d2acf, #40135f);
}

.pad6 {
    background-image:linear-gradient(120deg, #ff8800, #995200);
}

.pad7 {
    background-image:linear-gradient(120deg, #00ff88, #00383a);
}
.pad8 {
    background-image:linear-gradient(120deg, #f563dd, #38003a);
}
.visual > div{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    bottom: 0%;
    z-index: -1;
}

@keyframes jump{
    0%{
        bottom: 0%;
        left: 20%;
    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
        bottom: 0%;
        left: 80%;
    }
}

.visual > div {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
}